.topInput .avatar {
    width: 20px;
    height: 20px;
    background-color: #AF59A0;
    border-radius: 50%;
}

.addNewToDo{
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.addNewToDo::placeholder{
    color: rgba(173, 184, 204, 1);
}

.controlSingleToDo {
    margin-top: 30px;
}

.btnSaveTODo {
    display: inline-flex;
    height: 30px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid rgba(51, 97, 255, 1);
    background: rgba(51, 97, 255, 1);
    color: #fff;
}